<?php
print <<<EOT
<div id="bx-foot">
  <div class="bx-foot"><span>&copy;</span> 2014 <a href="/" title="$webdb[webname]">$webdb[webname]</a> -  <a href="http://www.miibeian.gov.cn" target="_blank" >{$webdb[miibeian_gov_cn]}</a>  -  $webdb[copyright]
    <div  class="bbbb">本站所有信息均为用户自由发布，本站不对信息的真实性负任何责任，交易时请注意识别信息的真假，如有网站内容侵害了您的权益请联系我们删除。
      {$city_DB[name][$city_id]}分类信息网是{$city_DB[name][$city_id]}地区专业的本地生活分类信息免费查询及发布平台。资讯，娱乐，交友，征婚，家政，招聘，租房，二手房，跳蚤市场尽在$webdb[webname]。 </div>
  </div>
</div>



</body>
</html><!--
EOT;
?>
-->