<!--
<?php
print <<<EOT
-->
<style>
.w { width:960px; margin:40px auto; line-height:25px;}
.text2 { border:1px solid #ccc; padding:1px 0px;  font-size:16px; font-family: Arial, Helvetica, sans-serif; margin-top:10px;}
.submit2 {color:#FFF;
	/*background:url(bt_bg.gif);*/background:#6FB301; 
	height:25px; padding:0px 15px; line-height:25px; font-weight:bold;
	border:none;
	letter-spacing:2px;}
	.TAG { padding:15px 0px; font-size:16px; font-weight:bold;}	
</style>
<div class="w">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic">
        <form name="form1" method="post" action="?action=send">
          <tr> 
            <td class="head"> 
              <h3 class="L"></h3>
              <span class="TAG">取回密码</span> 
              <h3 class="R"></h3>
            </td>
          </tr>
          <tr> 
            <td class="middle" align="left"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td align="left" height="62">请输入你的用户名： 
                    <input type="text" class="text2" name="atc_username">
                    <input type="submit" name="Submit" value="提交"  class="submit2">
                  </td>
                </tr>
                <tr>
                  <td align="left">提示:新密码会自动发送到你的个人资料所设置的邮箱!</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td class="foot"> 
              <h3 class="L"></h3>
              <h3 class="R"></h3>
            </td>
          </tr>
        </form>
      </table>
      
    </td>
  </tr>
</table>
</div>
<!--
EOT;
?>
-->
