<html>
<head>
<title>系统提示(后台管理)</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="images/style.css" type="text/css">
<meta http-equiv='refresh' content='<?php echo$time;?>;url=<?php echo $url;?>'>
</head>

<body>


<table width="500" border="0"   cellspacing="0" cellpadding="0" height="392" align="center">
  <tr>
    <td align="center" valign="middle"><table width="100%" style="background:#FFFFE5; padding:15px 0px;border: 1px solid #FFCC7F;"  border="0" cellspacing="1" cellpadding="3" >
    <tr>
    <td class="head"  align="center" style="font-size:14px; font-weight:bold; border-bottom:1px solid #ddd; padding:10px;">【系统提示】</td>
  </tr>
  <tr>
    <td style=" color:#F00; font-weight:bold; padding:10px 0px 0px 0px; text-align:center;"><?php echo $msg;?></td>
  </tr>
  <tr>
    <td align="center"  style="border:none; color:#999; background:none;" > [<a href="<?php echo $url;?>"  style="border:none; color:#999; background:none;"  >如果浏览器没反应,请点击这里</a>] </td>
  </tr>
</table></td>
  </tr>
</table> 

</body>
</html>
