<!--
<?php
print <<<EOT
-->

<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth"  id="top_menu">
  <tr>
    <td>[<a href="index.php?lfj=$lfj&job=list">采集规则列表</a>] [<a href="index.php?lfj=$lfj&job=add_title">手工添加新规则</a>] 
      [<a href="index.php?lfj=$lfj&job=addrulesql">导入新规则</a>]  
      [<a href="index.php?lfj=$lfj&job=edit_title&id=$id">修改标题参数</a>] [<a href="index.php?lfj=$lfj&job=edit_content&id=$id">修改内容参数</a>] [<a href="index.php?lfj=$lfj&job=edit_saverule&id=$id">修改入库参数</a>]      
      [<a href="http://www.LaneLead.com" title="蓝锂官方站获取程序更新" target="_blank" style="color:red;">蓝锂官方站</a>]
      [<a href="http://bbs.LaneLead.com" title="蓝锂技术论坛获取更多采集规则" target="_blank" style="color:red;">蓝锂技术论坛</a>] </td>
  </tr>
</table>
<!--
EOT;
?>
-->
